In [2]:
print('Welcome to Python 101!')

Welcome to Python 101!

In [3]:
#Print Statement is to tell the computer to please print the statement in the quoatation mark

In [4]:
print('Creat Hammer')
print('Use Hammer')

Creat Hammer
Use Hammer

In [6]:
print('Creat Hammer')
print('Creat Nails')
print('Use Hammer and Nails')

Creat Hammer
Creat Nails
Use Hammer and Nails

In [ ]:
#To assign variables, the = sign is not equals to but it is just used to assign variables 
'''Dear Mrs Badger
›Your son Eric is failing 6 subjects.
›Eric will need to redo 6 courses.
›Eric is doing well in geography

'''

In [1]:
failed_subjects="2"
name='John'
print('Dear Mrs Badger')
print('Your son ' + name + ' is failing ' + failed_subjects + ' subjects.')
print(name + '  will need to redo ' + failed_subjects + '  courses.')
print(name + '  is doing well in geography.')

Dear Mrs Badger
Your son John is failing 2 subjects.
John  will need to redo 2  courses.
John  is doing well in geography.

In [2]:
failed_subjects="5"
name='Prince'
print('Dear Mrs Badger')
print('Your son ' + name + ' is failing ' + failed_subjects + ' subjects.')
print(name + '  will need to redo ' + failed_subjects + '  courses.')
print(name + '  is doing well in geography.')

Dear Mrs Badger
Your son Prince is failing 5 subjects.
Prince  will need to redo 5  courses.
Prince  is doing well in geography.

In [ ]:
#Python is used to automate processes
#Data types are 'String'(It can be recognised by its quotation mark), Integer (Numeric whole numbers),
#Float(decimal) and Boolean(False or true)

In [4]:
a="it's"
b='it\'s'  #\ is used to show a ' between a word like it's  girl's etc

In [5]:
#to know a datatype
type(a)

str

In [6]:
print(type(a))
print(type(1))
print(type(1.64))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#you cant mix different datatypes or numbers anyhow you like, there is a way to do it
#there are rules guiding it
#you do typecasting
#you can turn an integer into a string by str()  i.e. typing str and then encapsulating the character

In [8]:
failed_subjects=5
name='Prince'
print('Dear Mrs Badger')
print('Your son ' + name + ' is failing ' + str(failed_subjects) + ' subjects.')
print(name + '  will need to redo ' + str(failed_subjects) + '  courses.')
print(name + '  is doing well in geography.')
#we have changed failed subject from integer to string

Dear Mrs Badger
Your son Prince is failing 5 subjects.
Prince  will need to redo 5  courses.
Prince  is doing well in geography.

In [9]:
a = int(1)        # a will be 1
b = int(2.5)      # b will be 2
c = int("3")      # c will be 3
c1 = int(float("3.4"))   # c1 will be...
d = float(1)      # d will be 1.0
e = float(2.5)    # e will be 2.5
f = float("3")    # f will be 3.0
g = float("4.23") # g will be 4.23
h = str("80s")    # h will be '80s'
i = str(22)       # i will be '22'
j = str(3.01)     # j will be '3.01'

print([a,b,c,c1,d,e,f,g,h,i,j])

[1, 2, 3, 3, 1.0, 2.5, 3.0, 4.23, '80s', '22', '3.01']