In [ ]:
print("Return Statements")
#PYTHON FUNCTIONS ARE COLLECTION OF CODES THAT PERFORM SPECIFIC FUNCTION

In [1]:
def value_added_tax(amount):
    tax = amount * 0.25
    return tax
    
print(value_added_tax(100))

25.0

In [2]:
def value_added_tax(amount):
    tax = amount * 0.25
    total_amount = amount * 1.25
    return tax
    
price = value_added_tax(100)    
print(price)

25.0

In [3]:
def value_added_tax(amount):
    tax = amount * 0.25
    total_amount = amount * 1.25
    return tax
    
price = value_added_tax(100)    
print(price, type(price))

25.0 <class 'float'>

In [4]:
def value_added_tax(amount):
    tax = amount * 0.25
    total_amount = amount * 1.25
    return amount, tax, total_amount
    
price = value_added_tax(100)    
print(price, type(price))

(100, 25.0, 125.0) <class 'tuple'>

In [5]:
def value_added_tax(amount):
    tax = amount * 0.25
    total_amount = amount * 1.25
    return [amount, tax, total_amount]   #RESULTS TO BE RETURNED
    
price = value_added_tax(100)    
print(price, type(price))

[100, 25.0, 125.0] <class 'list'>

In [6]:
def value_added_tax(amount):
    tax = amount * 0.25
    total_amount = amount * 1.25
    return {amount, tax, total_amount}  #cHANGE TO SET
    
price = value_added_tax(100)    
print(price, type(price))

{25.0, 100, 125.0} <class 'set'>

In [7]:
def value_added_tax(amount):
    tax = amount * 0.25
    total_amount = amount * 1.25
    return f"{amount}, {tax}, {total_amount}"
    
price = value_added_tax(100)    
print(price, type(price))

100, 25.0, 125.0 <class 'str'>

In [8]:
a = 7
b = 3
print(a == b)  #IS a =b

False

In [9]:
a = 7
b = 3
print(a != b)  # a is not equal to b

True

In [12]:
a = 7
b = 3
print(a > b)
print(a<b)

True
False

In [13]:
a = 7
b = 3
print(a >= b)

True

In [14]:
a = 7
b = 3
print('o' in 'John')

True

In [15]:
print('o' not in 'John')

False

In [16]:
a = [3,7,42]
b = a
print(a == b)

True

In [17]:
a = [3,7,42]
b = a
print(a == b)
print(a is b)

True
True

In [18]:
a = [3,7,42]
b = [3,7,42]
print(a == b)
print(a is b)
print(id(a), id(b))

True
False
2146330205760 2146329724416

In [19]:
a=7
b=3
print('a == b is', a == b)
print('a != b is', a != b)
print('a > b is', a > b)
print('a < b is', a < b)
print('a >= b is', a >= b)
print('a <= b is', a <= b)
print('o in John is ','o' in 'John') #membership
print('o in John is ','o' not in 'John') #non membership
print('John is John ','John' is 'John') #identity
print('John is not John is ','John' is not 'John') # negative identity

a == b is False
a != b is True
a > b is True
a < b is False
a >= b is True
a <= b is False
o in John is  True
o in John is  False
John is John  True
John is not John is  False

<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Omolola\AppData\Local\Temp/ipykernel_16592/2760185915.py:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('John is John ','John' is 'John') #identity
C:\Users\Omolola\AppData\Local\Temp/ipykernel_16592/2760185915.py:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('John is not John is ','John' is not 'John') # negative identity

In [21]:
#0 = false
#1, 2, 3, 4, 5=True
print(42 + False)
print(42 + True)

42
43